.container {
  position: absolute;
  top: 10vh;
  left: 10vw;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.nowPlaying {
    position: absolute;
    bottom: 10vh;
    left: 0vw;
    width: 90vw;
    height: 2em;
    padding: 1em;
    margin: 1em;
    //background: #4C1197;
    border-color: white;
    border-style: solid none none none;
}
